{% from 'bootstrap5/utils.html' import render_messages, render_static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>
      {% block title %}
        三題故事
      {% endblock title %}
    </title>
    {{ render_static('css', 'style.css') }}
    {{ bootstrap.load_css() }}
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">三題故事</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-md-0 me-2">
            <a class="nav-link" href="{{ url_for('main.post_list') }}">文章列表</a>
          </ul>
          <a class="btn btn-success me-auto" href="{{ url_for('post.new_post') }}">開始寫作</a>
          <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                  {{ current_user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for('main.profile', username=current_user.username) }}">個人主頁</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('account.setting') }}">設定</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('account.change_password') }}">修改密碼</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for('account.logout') }}">登出</a>
                  </li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link btn btn-success text-white mt-2 mt-md-0"
                   href="{{ url_for('account.register') }}">註冊</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account.login') }}">登入</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <main class="container-md mt-3">
      {{ render_messages(container=False, dismissible=True) }}
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="d-flex justify-content-center footer mt-auto p-3 bg-light">
      <a href="https://github.com/93wilsonlu/three_topic_story">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="20"
             height="20"
             fill="currentColor"
             class="bi bi-github"
             viewBox="0 0 20 20">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
      </a>
      &nbsp;
      <a href="mailto:three.topic.story@gmail.com"
         class="text-decoration-none">聯絡我們</a>
    </footer>
    {{ bootstrap.load_js() }}
  </body>
</html>
